<div class="page-header">
	<div class="page-title">
		&nbsp;
	</div>
</div>

<form role="form" action="/admin/crm/search" method="GET">
	<div class="panel panel-default">
		<div class="panel-heading"><h6 class="panel-title"><i class="icon-new"></i> Search User</h6></div>
			<div class="panel-body">



		        <div class="form-group">
		            <label>email:</label>
	            	<input type="text" name="email" class="form-control" value="" placeholder="email">
		        </div>
		        <div class="form-actions text-right">
                <input type="submit" value="Search User" class="btn btn-primary">
            </div>
	    </div>
	</div>
</form>

<div class="page-header">
	<div class="page-title">
		&nbsp;
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading"><h6 class="panel-title"><i class="icon-table"></i> All Users</h6></div>
  <div class="datatable">
    <table class="table">
      <thead>
        <tr>
					<th></th>
					<th>id</th>
          <th>name</th>
					<th>email</th>
          <th>since</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(function(user){ %>
            <tr>
								<td><img src="<%='google' in user ? user.google.avatar_url : ''%>"></td>
								<td><a href="/admin/crm/user/<%=user._id%>"><%=user._id%></a></td>
	              <td><%='google' in user ? user.google.display_name : '@' + user.github.login%></td>
                <td><%=user.email%></td>
                <td><%=moment.utc(user.created_at).format('YYYY-MM-DD')%></td>
            </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>
