<% if('github' in user){ %>
  <% if(githubOrgs){ %>
    <% githubOrgs.forEach(function(org){ %>
      <p>
        <a href="/scan-org/<%=org.login%>">scan <%=org.login%></a> | <a href="/build-org-scan/<%=org.login%>">build scan for <%=org.login%></a> | <a href="/scan-org-locally/<%=org.login%>">scan <%=org.login%> locally (for large orgs)</a> | <a href="/hook-org/<%=org.login%>">hook <%=org.login%></a>
    <% }) %>
  <% } %>

<% }else{ %>
  <a href="/github/authorize">connect github</a>
<% } %>
