<section class="section4 bgcolor-2" id="pricing">
<div class="container">

	<!-- SECTION HEADING -->
	<h2>Subscribe to GitMonkey</h2>
	<div class="colored-line">
	</div>

	<div class="sub-heading">
		Continue receiving alerts and be safe from exposed secrets and private keys in your code
	</div>

	<div class="pricing-table">

		<!-- PRICING TABLES -->
		<div class="row">

			<!-- PACKAGE ONE -->

      <% var i=0%>
      <% plans.forEach(function(plan){ %>
        <% i++ %>
        <div class="col-md-4">
          <div class="package bgcolor-white">
            <div class="header <%=(i==2 ? 'color-bg' : 'dark-bg')%>">
              <h3><%=plan.name%></h3>
              <div class="sub-heading">
                <span class="strong <%=(i==2 ? '' : 'colored-text')%>">$<%=plan.price%></span> per month
              </div>
            </div>

            <!-- PACKAGE FEATURES -->
            <div class="package-features">
              <ul>
                <li>
                <div class="column-7p">
                  Monthly Full Scans
                </div>
                <div class="column-3p">
                  <%=Number(plan.full_scans_per_month).toLocaleString()%>
                </div>
                </li>
                <li>
                <div class="column-7p">
                  Monthly Push Scans
                </div>
                <div class="column-3p">
                  <%=Number(plan.push_scans_per_month).toLocaleString()%>
                </div>
                </li>
              </ul>
              <div class="bottom-row">
                <div class="pull-left">
                  <h6>$<%=plan.price%>/m</h6>
                </div>
                <div class="pull-right">
                  <div id="cta-1">
                    <a href="/subscribe/<%=plan._id%>" class="btn secondary-button"><i class="fa fa-paypal"></i> SUBSCRIBE</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% }) %>



		</div> <!-- /END ROW -->
	</div> <!-- /END ALL PACKAGE -->

</div> <!-- /END CONTAINER -->

</section>
