<p>Hi %recipient.name%,</p>
<p>We wanted to give you a heads-up about an upcoming change to GitMonkey. In order to keep our servers up and running, we're introducing a paid version that includes several plans, all start with a 30 days free trial.</p>
<p>Since you've been using GitMonkey for a while, we hope you can already appreciate the value it provides and its importance. However, since you've signed up before we introduced the paid version, we don't want to drop it on you so suddenly so we decided to let you 21 more days to enjoy GitMonkey for free before we ask you to <a href="https://gitmonkey.io/pricing">choose a paid plan</a> that suits your needs.</p>
<p>We know it's a bummer to have a free service turning into paid, but as fellow developers we do hope you understand us and find our plans reasonably priced, especially given the value GitMonkey provides.</p>
<p>We hope to keep seeing you with us in the future,<br/>
The GitMonkey team</p>


<p>&nbsp;</p>
<p>&nbsp;</p>
<p>
To stop getting this email: <%=config.get('app.protocol')%>://<%=config.get('app.domain')%>/unsubscribe/<%=email_type%>/%recipient.id%/%recipient.code%<br/>
To unsubscribe from all <%=config.get('app.name')%> emails: <%=config.get('app.protocol')%>://<%=config.get('app.domain')%>/unsubscribe/all/%recipient.id%/%recipient.code%
</p>
