<p>Hi %recipient.name%,</p>
<p>There has just been a push to one of your repositories and our system scanned it for ecposed secrets and private keys.</p>
<p>However, your trial period has expired, so we can't inform you of our findings. What if a secret or private key been pushed and you're not aware of that? You're in risk.</p>
<p>Please <a href="<%=config.get('app.protocol')%>://<%=config.get('app.domain')%>/pricing">subscribe to <%=config.get('app.name')%></a> so we can continue monitor your repositories.</p>


<p>&nbsp;</p>
<p>&nbsp;</p>
<p>
To stop getting this email: <%=config.get('app.protocol')%>://<%=config.get('app.domain')%>/unsubscribe/<%=email_type%>/%recipient.id%/%recipient.code%<br/>
To unsubscribe from all <%=config.get('app.name')%> emails: <%=config.get('app.protocol')%>://<%=config.get('app.domain')%>/unsubscribe/all/%recipient.id%/%recipient.code%
</p>
