<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>MonKey - Keeps your code safe from hazardous private keys</title>

<link rel="icon" href="<%=config.get('app.cdn_url')%>/images/snapglue-icon192.png">
<link href="<%=config.get('app.cdn_url')%>/londinium/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="<%=config.get('app.cdn_url')%>/londinium/css/londinium-theme.css" rel="stylesheet" type="text/css">
<link href="<%=config.get('app.cdn_url')%>/londinium/css/styles.css" rel="stylesheet" type="text/css">
<link href="<%=config.get('app.cdn_url')%>/londinium/css/icons.css" rel="stylesheet" type="text/css">
<link href="<%=config.get('app.cdn_url')%>/css/daterangepicker.css" rel="stylesheet" type="text/css">
<link href="<%=config.get('app.cdn_url')%>/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="<%=config.get('app.cdn_url')%>/css/londinium-ext.css" rel="stylesheet" type="text/css">



<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script></head>
<!--
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
 -->

<script src="<%=config.get('app.cdn_url')%>/js/plotly-latest.min.js"></script>
<script src="<%=config.get('app.cdn_url')%>/js/moment.min.js"></script>
<script src="<%=config.get('app.cdn_url')%>/js/daterangepicker.js"></script>



<script type="text/javascript" src="<%=config.get('app.cdn_url')%>/londinium/js/plugins/charts/sparkline.min.js"></script>

<script type="text/javascript" src="<%=config.get('app.cdn_url')%>/londinium/js/plugins/forms/uniform.min.js"></script>
<script type="text/javascript" src="<%=config.get('app.cdn_url')%>/londinium/js/plugins/forms/select2.min.js"></script>
<script type="text/javascript" src="<%=config.get('app.cdn_url')%>/londinium/js/plugins/forms/inputmask.js"></script>
<script type="text/javascript" src="<%=config.get('app.cdn_url')%>/londinium/js/plugins/forms/autosize.js"></script>
<script type="text/javascript" src="<%=config.get('app.cdn_url')%>/londinium/js/plugins/forms/inputlimit.min.js"></script>
<script type="text/javascript" src="<%=config.get('app.cdn_url')%>/londinium/js/plugins/forms/listbox.js"></script>
<script type="text/javascript" src="<%=config.get('app.cdn_url')%>/londinium/js/plugins/forms/multiselect.js"></script>
<script type="text/javascript" src="<%=config.get('app.cdn_url')%>/londinium/js/plugins/forms/validate.min.js"></script>
<script type="text/javascript" src="<%=config.get('app.cdn_url')%>/londinium/js/plugins/forms/tags.min.js"></script>
<script type="text/javascript" src="<%=config.get('app.cdn_url')%>/londinium/js/plugins/forms/switch.min.js"></script>

<script type="text/javascript" src="<%=config.get('app.cdn_url')%>/londinium/js/plugins/forms/uploader/plupload.full.min.js"></script>
<script type="text/javascript" src="<%=config.get('app.cdn_url')%>/londinium/js/plugins/forms/uploader/plupload.queue.min.js"></script>

<script type="text/javascript" src="<%=config.get('app.cdn_url')%>/londinium/js/plugins/forms/wysihtml5/wysihtml5.min.js"></script>
<script type="text/javascript" src="<%=config.get('app.cdn_url')%>/londinium/js/plugins/forms/wysihtml5/toolbar.js"></script>

<!-- <script type="text/javascript" src="<%=config.get('app.cdn_url')%>/londinium/js/plugins/interface/daterangepicker.js"></script>
 --><script type="text/javascript" src="<%=config.get('app.cdn_url')%>/londinium/js/plugins/interface/fancybox.min.js"></script>
<!-- <script type="text/javascript" src="<%=config.get('app.cdn_url')%>/londinium/js/plugins/interface/moment.js"></script>
 --><script type="text/javascript" src="<%=config.get('app.cdn_url')%>/londinium/js/plugins/interface/jgrowl.min.js"></script>
<script type="text/javascript" src="<%=config.get('app.cdn_url')%>/londinium/js/plugins/interface/datatables.min.js"></script>
<script type="text/javascript" src="<%=config.get('app.cdn_url')%>/londinium/js/plugins/interface/colorpicker.js"></script>
<script type="text/javascript" src="<%=config.get('app.cdn_url')%>/londinium/js/plugins/interface/fullcalendar.min.js"></script>
<script type="text/javascript" src="<%=config.get('app.cdn_url')%>/londinium/js/plugins/interface/timepicker.min.js"></script>
<script type="text/javascript" src="<%=config.get('app.cdn_url')%>/londinium/js/plugins/interface/collapsible.min.js"></script>

<script type="text/javascript" src="<%=config.get('app.cdn_url')%>/londinium/js/bootstrap.min.js"></script>
<script type="text/javascript" src="<%=config.get('app.cdn_url')%>/londinium/js/application.js"></script>
<script src="<%=config.get('app.cdn_url')%>/js/typeahead.bundle.js"></script>

<link rel="stylesheet" href="//releases.flowplayer.org/5.5.2/skin/minimalist.css" >
<script src="//releases.flowplayer.org/5.5.2/flowplayer.min.js"></script>
<!-- Include lines below to support multiple resolutions via quality selector plugin -->
<link rel="stylesheet" href="//flowplayer.org/drive/quality-selector.css">
<script src="//flowplayer.org/drive/quality-selector.js"></script>


</head>

<body class="sidebar-wide">

	<!-- Navbar -->
	<div class="navbar navbar-inverse" role="navigation">
		<div class="navbar-header">
			<a class="navbar-brand" href="/"><img src="<%=config.get('app.cdn_url')%>/images/snapglue-white32.png" alt="MonKey"></a>
			<a class="sidebar-toggle"><i class="icon-paragraph-justify2"></i></a>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-icons">
				<span class="sr-only">Toggle navbar</span>
				<i class="icon-grid3"></i>
			</button>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar">
				<span class="sr-only">Toggle navigation</span>
				<i class="icon-paragraph-justify2"></i>
			</button>
		</div>


		<ul class="nav navbar-nav navbar-right collapse" id="navbar-icons">
			<li class="user dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown">
					<img src="<%=user.google.avatar_url%>">
					<span><%=user.google.display_name%></span>
					<i class="caret"></i>
				</a>
				<ul class="dropdown-menu dropdown-menu-right icons-right">
					<li><a href="#"><i class="icon-user"></i> Profile</a></li>
					<li><a href="#"><i class="icon-cog"></i> Settings</a></li>
					<li><a href="/logout"><i class="icon-exit"></i> Logout</a></li>
				</ul>
			</li>
		</ul>



	</div>
	<!-- /navbar -->


	<!-- Page container -->
 	<div class="page-container">


		<!-- Sidebar -->
		<div class="sidebar collapse">
			<div class="sidebar-content">

				<!-- User dropdown -->
<!-- 				<div class="user-menu dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<img src="<%=user.google.avatar_url%>">
						<div class="user-info">
							<%=user.google.username%> <span>SnapGlue Clients</span>
						</div>
					</a>
					<div class="popup dropdown-menu dropdown-menu-right">


				    	<ul class="list-group">
							<li class="list-group-item"><i class="icon-wrench text-muted"></i> <a href="/developers">Switch to Developers Dashboard</a> </li>
							<li class="list-group-item"><i class="icon-exit text-muted"></i> <a href="/logout">Sign Out</a> </li>
						</ul>
					</div>
				</div>
 -->				<!-- /user dropdown -->


				<!-- Main navigation -->
				<ul class="navigation">
					<li class="<%= (active_page == 'dashboard' ? 'active' : '')%>"><a href="/dashboard"><span>Dashboard</span><i class="icon-screen2"></i></a></li>
          <li class="<%= (active_page == 'orgs' ? 'active' : '')%>">
						<a class="expand <%=(us.startsWith(active_page,'org_')) ? 'level-open' : 'level-closed' %>" id="<%=(us.startsWith(active_page,'org_')) ? 'second-level' : '' %>" href="#"><span>Organizations</span> <i class="icon-people"></i></a>
						<ul>
   							<% user.github.orgs.forEach(function(org){ %>
  								<li class="<%= (active_page == 'org_' + org.login ? 'active' : '')%>"><a href="/org/<%=org.login%>"><%=org.login%></a></li>
  							<% }) %>

						</ul>
					</li>
          <li class="<%= (active_page == 'repos' ? 'active' : '')%>">
						<a class="expand <%=(us.startsWith(active_page,'repo_')) ? 'level-open' : 'level-closed' %>" id="<%=(us.startsWith(active_page,'repo_')) ? 'second-level' : '' %>" href="#"><span>Repositories</span> <i class="icon-people"></i></a>
						<ul>
   							<% user.github.repos.forEach(function(repo){ %>
  								<li class="<%= (active_page == 'repo_' + repo.owner.login + '_ ' + repo.name ? 'active' : '')%>"><a href="/repo/<%=repo.owner.login%>/<%=repo.name%>"><%=repo.name%></a></li>
  							<% }) %>

						</ul>
					</li>
				</ul>
				<!-- /main navigation -->

			</div>
		</div>
		<!-- /sidebar -->


		<!-- Page content -->
	 	<div class="page-content">

			<% if(alert){ %>
				<div class="page-header">
					<div class="page-title">
						&nbsp;
					</div>
				</div>
				<div class="panel-body">
					<div class="alert alert-block alert-<%=alert.type%> fade in block-inner">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
						<i class="<%=alertIcons.getIcon(alert.type)%>"></i> <%=alert.message%>
					</div>
				</div>
			<% }%>


			<%-body -%>


	        <!-- Footer -->
	        <div class="footer clearfix">
		        <div class="pull-left">&copy; 2016. SnapGlue - a DevOps dashboard for non-DevOps</div>
	        	<div class="pull-right icons-group">
	        		<a href="mailto:support@snapglue.io"><i class="icon-envelop"></i></a>
<!-- 	        		<a href="https://github.com/CodeMillApp/support/issues"><i class="icon-github3"></i></a>
	        		<a href="https://gitter.im/CodeMillApp/support"><img class="gitter-icon" src="<%=config.get('app.cdn_url')%>/images/gitter.png"></a>
 -->	        	</div>
	        </div>
	        <!-- /footer -->


		</div>
		<!-- /page content -->


	</div>
	<!-- /page container -->

	<!-- Google Analytics -->
    <% if(app.get('env') == 'production'){%>
	    <script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-76038129-1', 'auto');
		  ga('send', 'pageview');

		</script>
	<% }%>
	<!-- /Google Analytics -->


</body>
</html>
