<div class="row">
	<ul class="info-blocks">
		<li class="bg-primary">
			<div class="top-info">
				<a href="/build-local-org-scan/<%=org.login%>">Scan <%=org%> Now</a>
				<small></small>
			</div>
			<a href="/build-local-org-scan/<%=org.login%>"><i class="icon-zoom-in2"></i>
			<span class="bottom-info bg-danger"><div>Scan Now</div></span>
      </a>
		</li>
		<li class="bg-success">
			<div class="top-info">
				<a href="/hook-org/<%=org.login%>">Hook <%=org%> With Alerts</a>
				<small></small>
			</div>
			<a href="/hook-org/<%=org.login%>"><i class="icon-mail-send"></i>
			<span class="bottom-info bg-primary"><div>Hook Now</div></span>
      </a>
		</li>


	</ul>
</div>
